<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://beatbox-api.runasp.net/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>cbfa08ea-aece-205f-7b85-326fd0b81bad</ProjectGuid>
    <publishUrl>ftp://site77584.siteasp.net/wwwroot</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <FtpSitePath>/wwwroot</FtpSitePath>
    <UserName>site77584</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>
